Django==5.0.3
asgiref==3.8.1
djangorestframework==3.16.0
django-filter==25.1
django-widget-tweaks==1.5.0
oracledb==3.1.1
python-decouple==3.8
Markdown==3.8
cryptography==45.0.3
cffi==1.17.1
pycparser==2.22
pillow==10.3.0
gunicorn==21.2.0
whitenoise==6.6.0